* {
    margin: 0;
    overflow-x: hidden;
}

.Header {
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}

.Header-Content {
    display: flex;
    justify-content: space-around;
    width: 20vw;
}

a {
    color: #800000;
    font-size: large;
    font-family: "Roboto";
    text-decoration: none;

    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-position: 0 100%;                     /* bottom left */
    background-size: 0% 2px;                         /* start at 0 % width */

    transition: background-size .3s ease;            /* swipe duration */

}

a:hover
{
    color: #dfb80c;
    background-size: 100% 2px;                       /* grow to full width */
    transition: color .3s ease, background-size .3s ease;            /* swipe duration */
}

.icon {
    width: 5vh;
}

.About {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #800000;
    font-family: "Roboto";
    text-decoration: none;
    margin-bottom: 2rem;
}

.About h1 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.About p {
    font-size: large;
    text-align: center;
}

.brotherhood {
    display: flex;
}

.banner {
    height: 80vh;
    background-image: linear-gradient(rgba(80,0,0,0.20)),
                      url("/static/images/slide3.jpg");
    background-repeat: no-repeat;
    background-position: 50% 80%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner div {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "Roboto";
    height: 30vh;

}

.banner h1 {
    margin-bottom: 8px;
    font-size: 60px;
}

.banner h2 {
    margin-bottom: 8px;
    font-size: 40px;
}

@supports (animation-timeline: scroll()) {
    .banner {
        animation: centerToTop linear both;

        animation-timeline: scroll(root);
        animation-range: 0 800px;
    }

    @keyframes centerToTop {
        from { background-position: 50% 80%;}
        to { background-position: 50% 0%;}
        
    }
}

.brotherhood {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    width: 100vw;
    margin-top: 60px;
    background-color: #ececec;
    text-align: center;
}

.cards {
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #800000;
    font-family: "Roboto";
}

.cards p {
    font-size: x-large;
}

.brotherhood-photo {
    height: 30vh;
    padding: 20px;
    display: block;
    object-fit: cover;
    border-radius: 24px;
    aspect-ratio: 16/9;
}

.stuff {
    height: 16vh;
    background-color: #1f1f1f;
}

.Line {

    margin-left: 8rem;
    margin-right: 8rem;
}