<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theta Tau | Phi Delta Chapter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header class="Header">
        <div class="Header-Content"></div>
        <div>
            <img class="icon" src="{{ url_for('static', filename='images/ThetaTauIcon.png') }}">
        </div>
        <div class="Header-Content">
            <p><a href="https://thetatau.org" target="_blank" rel="noopener">Home</a></p>
            <p><a href="https://thetatau.org" target="_blank" rel="noopener">Portfolio</a></p>
            <p><a href="https://thetatau.org" target="_blank" rel="noopener">Rush</a></p>
            <p><a href="https://thetatau.org" target="_blank" rel="noopener">More</a></p>
        </div>
    </header>
    <div class="carousel">
            <img src="{{ url_for('static', filename='images/slide1.jpg') }}">
            <img src="{{ url_for('static', filename='images/slide2.jpg') }}">
            <img src="{{ url_for('static', filename='images/slide1.jpg') }}">
            <img src="{{ url_for('static', filename='images/slide1.jpg') }}">
            <img src="{{ url_for('static', filename='images/slide1.jpg') }}">
    </div>
    
    <script src="{{ url_for('static', filename='js/slider.js') }}"></script>
</body>
</html>