<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Phi Delta Chapter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="Header">
        <div class="Header-Content"></div>
        <div>
            <img class="icon" src="{{ url_for('static', filename='images/ThetaTauIcon2.png') }}">
        </div>
        <div class="Header-Content">
            <p><a href="{{ url_for('index') }}" target="_self" rel="noopener">Home</a></p>
            <!-- <p><a href="https://thetatau.org" target="_blank" rel="noopener">Portfolio</a></p> -->
            <p><a href="{{ url_for('rush') }}" target="_self" rel="noopener">Rush</a></p>
            <p><a href="https://thetatau.org" target="_blank" rel="noopener">More</a></p>
        </div>
        <div class="off-screen-menu">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('rush') }}">Rush</a></li>
                <li><a href="#">More</a></li>
            </ul>
        </div>
        <nav>
            <div class="ham-menu" role="button" tabindex="0">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <script src="/static/js/ham_menu.js"></script>
    </header>
    <div class="banner">
        <div>
            <h1>Theta Tau at FAMU & FSU</h1>
            <h2>Phi Delta Chapter</h2>
            <h3>A PREMIER CO-ED PROFESSIONAL ENGINEERING FRATERNITY</h3>
        </div>
    </div>
    <div class="About">
        <h1>Who are we?</h1>
        <p>
            Theta Tau is a premier co-ed professional engineering fraternity at Florida Agricultural and Mechanical University and Florida State University.<br>We're the only joint Chapter
            of its kind in Theta Tau.
        </p>
    </div>
    <hr class="Line">
    <div class="brotherhood">
        <div class="cards">
            <h2>Brotherhood</h2>
            <img src="{{ url_for('static', filename='images/brotherhood.jpg') }}" class="brotherhood-photo">
            <p>Have made friendships and connections that they will maintain for the rest of their lives.</p>
        </div>
        <div class="cards">
            <h2>Professional</h2>
            <img src="{{ url_for('static', filename='images/Professional.jpg') }}" class="brotherhood-photo">
            <p>Members of Theta Tau are prepared for the job market, network, and apply their learning at work.</p>
        </div>
        <div class="cards">
            <h2>Service</h2>
            <img src="{{ url_for('static', filename='images/Service.jpg') }}" class="brotherhood-photo">
            <p>Members of Theta Tau make an impact on the world around them through service and philanthropic acts.</p>
        </div>
    </div>
    <div class="Rush">
        <div>
            <h1>Interested in rushing?</h1>
            <h2>More information below!</h2>
            <br>
            <button>LEARN MORE</button>
        </div>
    </div>
    <div class="info">
        <div class="Links">
            <div>
                <h2>Theta Tau<br>Phi Delta</h2>
                <br>
                <p>Phi Delta Chapter</p>
                <p>Tallahassee, Florida</p>
            </div>
            <div>
                <h2>General</h2>
                <br>
                <p><a href="https://thetatau.org" target="_blank" rel="noopener">National Theta Tau</a></p>
            </div>
            <div>
                <h2>Rush</h2>
                <br>
                <p><a>Information</a></p>
                <p><a href="https://groupme.com/join_group/108277414/D26JcJPF" target="_blank" rel="noopener">Rush GroupMe</a></p>
            </div>
            <div>
                <h2>Contact</h2>
                <br>
                <p><a href="https://www.instagram.com/phideltathetatau/" target="_blank" rel="noopener">Instagram</a></p>
            </div>
        </div>
    </div>
</body>
</html>